body {
    background-color: rgb(43, 43, 43);
    color: lightgreen;
    font-family: def;
}

@font-face {
    font-family: def;
    src: url("src/fonts/def.ttf");
}

@font-face {
    font-family: def2;
    src: url("src/fonts/def2.otf");
}

#info-cat {
    width: 30px;
    height: 30px;
    background-color: blue;
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: default;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

#navbar-top {
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgb(20, 20, 20);
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
}

.logo {
    position: absolute;
    top: -22px;
    left: 200px;
    width: 190px;
    height: 110px;
}

#navbar-top h1 {
    position: absolute;
    top: -30px;
    left: 220px;
    font-size: 48px;
    cursor: default;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

#navbar-top input {
    background-color: transparent;
    font-family: "Calibri";
    color: lightgreen;
    border: 1px solid green;
    border-radius: 50px;
    font-size: 24px;
    width: 500px;
    height: 34px;
    position: absolute;
    top: 12px;
    left: 420px;
    padding-left: 40px;
    outline: none;
}

.icon-src {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 23px;
    left: 430px;
}

#menu-slice-1 {
    width: 30px;
    height: 5px;
    background-color: green;
    margin-top: 8px;
    margin-left: 4px;
    border-radius: 4px;
    transition-duration: 0.3s;
    
}

#menu-slice-2 {
    width: 30px;
    height: 5px;
    background-color: green;
    margin-top: 4px;
    margin-left: 4px;
    border-radius: 4px;
    transition-duration: 0.3s;
}

#menu-slice-3 {
    width: 30px;
    height: 5px;
    background-color: green;
    margin-top: 4px;
    margin-left: 4px;
    border-radius: 4px;
    transition-duration: 0.3s;
}

#menu {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 10px;
    left: 130px;
    text-align: center;
    background-color: rgb(20, 20, 20);
    border-radius: 12px;
    transition-duration: 0.2s;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

#menu:hover {
    background-color: rgb(43, 43, 43);
    transition-duration: 0.2s;
}

#profile {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 5px;
    right: 20px;
    border-radius: 50px;
    transition-duration: 0.2s;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

#profile:hover {
    background-color: rgb(43, 43, 43);
    transition-duration: 0.2s;
}

img {
    cursor: default;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}

::-moz-selection {
    color: black;
    background: greenyellow;
}

::selection {
    color: black;
    background: greenyellow;
}

::-webkit-scrollbar {
    width: 5px;
    cursor: all-scroll;
}
  
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px black;
}
   
::-webkit-scrollbar-thumb {
    background: green;
    transition-duration: 0.5s;
}
  
::-webkit-scrollbar-thumb:hover {
    background: greenyellow; 
    transition-duration: 0.5s;
}

.fade {
    opacity: 0.5;
    cursor: default;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.link {
    cursor: pointer;
    transition-duration: 0.2s;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.link:hover {
    color: green;
    transition-duration: 0.2s;
}

#dropdown-menu {
    background-color: rgb(20, 20, 20);
    width: 150px;
    height: 180px;
    text-align: center;
    position: absolute;
    top: -180px;
    left: 22px;
    opacity: 0;
    display: none;
    transition-duration: 0.3s;
    animation-duration: 0.3s;
    border-radius: 18px;
}

#dropdown-menu .section {
    font-family: def2;
    cursor: default;
    border: 1px solid transparent;
    border-radius: 18px;
    margin-top: 2px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    vertical-align: middle;
    transition-duration: 0.2s;
}

#dropdown-menu .section:hover {
    background-color: rgb(43, 43, 43);
    transition-duration: 0.2s;
}

@keyframes menu-dropdown {
    from {
        top: -180;
        opacity: 0;
    }

    to {
        top: 70px;
        opacity: 1;
    }
}

@keyframes menu-dropup /* <-- XDD */ {
    from {
        top: 70px;
        opacity: 1;
    }

    to {
        top: -180;
        opacity: 0;
    }
}

#ddm-categories {
    background-color: rgb(20, 20, 20);
    width: 150px;
    height: 180px;
    position: absolute;
    text-align: center;
    position: absolute;
    left: 192px;
    top: -180px;
    opacity: 0;
    display: none;
    transition-duration: 0.3s;
    animation-duration: 0.3s;
    border-radius: 18px;
    border: 1px solid transparent;
    cursor: default;
}

#ddm-categories .section {
    font-family: def2;
    cursor: default;
    border: 1px solid transparent;
    border-radius: 18px;
    margin-top: 2px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    vertical-align: middle;
    transition-duration: 0.2s;
}

@keyframes ddmCat-dropdown {
    from {
        top: -180;
        opacity: 0;
    }

    to {
        top: 70px;
        opacity: 1;
    }
}

@keyframes ddmCat-dropup /* <-- XDD */ {
    from {
        top: 70px;
        opacity: 1;
    }

    to {
        top: -180;
        opacity: 0;
    }
}