body {
    background-color: rgb(43, 43, 43);
    color: lightgreen;
    font-family: def;
}

@font-face {
    font-family: def;
    src: url("src/fonts/def.ttf");
}

@font-face {
    font-family: def2;
    src: url("src/fonts/def2.otf");
}

#info-cat {
    width: 30px;
    height: 30px;
    background-color: blue;
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: default;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

#navbar-top {
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgb(20, 20, 20);
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
}

.logo {
    position: absolute;
    top: -22px;
    left: 200px;
    width: 190px;
    height: 110px;
    cursor: pointer;
}

#navbar-top h1 {
    position: absolute;
    top: -30px;
    left: 220px;
    font-size: 48px;
    cursor: default;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

input {
    background-color: transparent;
    font-family: "Calibri";
    color: lightgreen;
    border: 2px solid green;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
}

.topnav-search {
    border-radius: 50px;
    font-size: 24px;
    width: 500px;
    height: 34px;
    position: absolute;
    top: 12px;
    left: 420px;
    padding-left: 40px;
}

.icon-src {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 20px;
    left: 430px;
}

#menu-slice-1 {
    width: 30px;
    height: 5px;
    background-color: green;
    margin-top: 8px;
    margin-left: 4px;
    border-radius: 4px;
    transition-duration: 0.3s;
    
}

#menu-slice-2 {
    width: 30px;
    height: 5px;
    background-color: green;
    margin-top: 4px;
    margin-left: 4px;
    border-radius: 4px;
    transition-duration: 0.3s;
}

#menu-slice-3 {
    width: 30px;
    height: 5px;
    background-color: green;
    margin-top: 4px;
    margin-left: 4px;
    border-radius: 4px;
    transition-duration: 0.3s;
}

#menu {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 10px;
    left: 130px;
    text-align: center;
    background-color: rgb(20, 20, 20);
    border-radius: 12px;
    transition-duration: 0.2s;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

#menu:hover {
    background-color: rgb(43, 43, 43);
    transition-duration: 0.2s;
}

#profile {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 5px;
    right: 20px;
    border-radius: 50px;
    transition-duration: 0.2s;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

#profile:hover {
    background-color: rgb(43, 43, 43);
    transition-duration: 0.2s;
}

img {
    cursor: default;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}

::-moz-selection {
    color: black;
    background: greenyellow;
}

::selection {
    color: black;
    background: greenyellow;
}

::-webkit-scrollbar {
    width: 5px;
    cursor: all-scroll;
}
  
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px black;
}
   
::-webkit-scrollbar-thumb {
    background: green;
    transition-duration: 0.5s;
}
  
::-webkit-scrollbar-thumb:hover {
    background: greenyellow; 
    transition-duration: 0.5s;
}

.fade {
    opacity: 0.5;
    cursor: default;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.link {
    cursor: pointer;
    transition-duration: 0.2s;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.link:hover {
    color: green;
    transition-duration: 0.2s;
}

#dropdown-menu {
    background-color: rgb(20, 20, 20);
    width: 150px;
    height: 350px;
    text-align: center;
    position: absolute;
    top: -180px;
    left: 22px;
    opacity: 0;
    display: none;
    transition-duration: 0.3s;
    animation-duration: 0.3s;
    border-radius: 18px;
}

#dropdown-menu .section {
    font-family: def2;
    cursor: default;
    border: 1px solid transparent;
    border-radius: 18px;
    margin-top: 2px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    vertical-align: middle;
    transition-duration: 0.2s;
}

#dropdown-menu .section:hover {
    background-color: rgb(43, 43, 43);
    transition-duration: 0.2s;
}

@keyframes menu-dropdown {
    from {
        top: -180;
        opacity: 0;
    }

    to {
        top: 70px;
        opacity: 1;
    }
}

@keyframes menu-dropup /* <-- XDD */ {
    from {
        top: 70px;
        opacity: 1;
    }

    to {
        top: -180;
        opacity: 0;
    }
}

#ddm-categories {
    display: none;
}

/* #ddm-categories {
    background-color: rgb(20, 20, 20);
    width: 150px;
    height: 270px;
    position: absolute;
    text-align: center;
    position: absolute;
    left: 192px;
    top: -180px;
    opacity: 0;
    display: none;
    transition-duration: 0.3s;
    animation-duration: 0.3s;
    border-radius: 18px;
    border: 1px solid transparent;
    cursor: default;
} */

/* #ddm-categories .section {
    font-family: def2;
    cursor: default;
    border: 1px solid transparent;
    border-radius: 18px;
    margin-top: 2px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    vertical-align: middle;
    transition-duration: 0.2s;
}

#ddm-categories .section:hover {
    background-color: rgb(43, 43, 43);
    transition-duration: 0.2s;
} */

@keyframes ddmCat-dropdown {
    from {
        top: -180;
        opacity: 0;
    }

    to {
        top: 70px;
        opacity: 1;
    }
}

@keyframes ddmCat-dropup /* <-- XDD */ {
    from {
        top: 70px;
        opacity: 1;
    }

    to {
        top: -180;
        opacity: 0;
    }
}

#comics .comic {
    width: 200px;
    height: 300px;
    float: left;
    margin-left: 50px;
    margin-top: 20px;
    background-color: blue;
    cursor: pointer;
    transition-duration: 0.2s;
    border-radius: 12px;
    text-align: center;
    opacity: 1;
    background-image: url("https://upload.wikimedia.org/wikipedia/hu/thumb/1/1f/Naruto_bor%C3%ADt%C3%B31.jpg/250px-Naruto_bor%C3%ADt%C3%B31.jpg");
}

#comics .comic:hover {
    width: 200px;
    height: 300px;
    transition-duration: 0.2s;
    opacity: 0.6;
}

#comics .comic span {
    height: 625px;
    line-height: 625px;
}

.scifi-comics {
    margin-top: 350px;
}

.section input {
    border-radius: 18px;
    width: 136px;
    height: 28px;
    font-size: 12pt;
    padding-left: 9px;
    background-image: url("src/icons/search.png");
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position-x: 7px;
    background-position-y: center;
    padding-left: 25px;
}

[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
    height: 10px;
    width: 10px;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pg0KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDE2LjAuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPg0KPCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQy8vRFREIFNWRyAxLjEvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkIj4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iQ2FwYV8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCINCgkgd2lkdGg9IjEyMy4wNXB4IiBoZWlnaHQ9IjEyMy4wNXB4IiB2aWV3Qm94PSIwIDAgMTIzLjA1IDEyMy4wNSIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMTIzLjA1IDEyMy4wNTsiDQoJIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPGc+DQoJPHBhdGggZD0iTTEyMS4zMjUsMTAuOTI1bC04LjUtOC4zOTljLTIuMy0yLjMtNi4xLTIuMy04LjUsMGwtNDIuNCw0Mi4zOTlMMTguNzI2LDEuNzI2Yy0yLjMwMS0yLjMwMS02LjEwMS0yLjMwMS04LjUsMGwtOC41LDguNQ0KCQljLTIuMzAxLDIuMy0yLjMwMSw2LjEsMCw4LjVsNDMuMSw0My4xbC00Mi4zLDQyLjVjLTIuMywyLjMtMi4zLDYuMSwwLDguNWw4LjUsOC41YzIuMywyLjMsNi4xLDIuMyw4LjUsMGw0Mi4zOTktNDIuNGw0Mi40LDQyLjQNCgkJYzIuMywyLjMsNi4xLDIuMyw4LjUsMGw4LjUtOC41YzIuMy0yLjMsMi4zLTYuMSwwLTguNWwtNDIuNS00Mi40bDQyLjQtNDIuMzk5QzEyMy42MjUsMTcuMTI1LDEyMy42MjUsMTMuMzI1LDEyMS4zMjUsMTAuOTI1eiIvPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPC9zdmc+DQo=);
    background-size: 10px 10px;
}

#navbar-bottom {
    display: none;
}

.top-search {
    display: none;
}

#categ {
    display: none;
}

#home {
    display: none;
}

#hideNav {
    display: none;
}

#categ-menu {
    display: none;
}