body {
    background-color: rgb(43, 43, 43);
    color: lightgreen;
    font-family: def;
}

@font-face {
    font-family: def;
    src: url("src/fonts/def.ttf");
}

@font-face {
    font-family: def2;
    src: url("src/fonts/def2.otf");
}

#info-cat {
    width: 30px;
    height: 30px;
    background-color: blue;
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: default;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

#navbar-top {
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgb(20, 20, 20);
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
}

#navbar-top h1 {
    position: absolute;
    top: -30px;
    left: 120px;
    font-size: 48px;
    cursor: default;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

#navbar-top input {
    background-color: transparent;
    font-family: "Calibri";
    color: lightgreen;
    border: 1px solid green;
    border-radius: 50px;
    font-size: 24px;
    width: 300px;
    height: 34px;
    position: absolute;
    top: 12px;
    left: 320px;
    padding-left: 40px;
    outline: none;
}

.icon-src {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 23px;
    left: 330px;
}

img {
    cursor: default;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}

.div1 {
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0px;
    left: 0px;
}